<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
</head>

<body>
    <form action="/myForm" method="POST">
        <textarea cols="50" placeholder="Please enter movies seperated by commas" name="movieList"></textarea>
        <br>
        <button>Send</button>
    </form>
</body>

</html>