<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Movieflix</title>
</head>
<body>
  <div class="container">
    <form>
      <fieldset class="todo-list">
        <legend class="todo-list__title">Search Results</legend>
        <div>
            <% if(searchResults.length === 0 || searchResults.keys().length === 0) { %>
                <p> Movie could not be found </p>
            <% } else{ %>
                <% searchResults.forEach(element => { %>
                    <h1>Movie: <%= element[0] %></h1>
                    <p>Description: <%= element[1] %></p>
                <% }); %>
            <% } %>
            <a href="/">Home</a>
        <div>
      </fieldset>
    </form>
  </div>
</body>
</html>